<%= content_tag_for :div, project do %>
<% if current_user == project.user %>
<h2><%= best_in_place project, :title %></h2>
<% else %>
	<%= content_tag :h2, project.title %>
<% end %>
 <%= link_to 'delete', project, method: :delete, data: { confirm: 'Are you sure?' }, class: "button" %> |
  <%= link_to 'show', project, class: "button" %>
<% end %>